* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
}

body {
  background-color: orange;
  text-align: center;
}
h1 {
  color: green;
}
.paragraph {
  border: solid blue
}
blockquote {
  background-color: red;
  border: solid yellow;
  padding: 5px 5px;
}
footer {
  color: blue;
}
img {
  border: solid pink;
}
input {
  color: green;
}
.banner {
  border-color: black;
}
